- if map.treemap[:children].count > 0
  - id = map.name + map.created_at.to_i.to_s
  :plain
    <script>
      $(document).ready(function(){
        draw_treemap(#{map.treemap.to_json},"##{id}");
      });
    </script>
  .container
    .row
      .col-md-12
        %h2
          Color Palette for #{link_to map.uri, map.uri}
          %br
          %small #{map.color_count} unique color strings in #{map.reference_count} css tags.
        %p
          %small Updated #{time_ago_in_words(map.updated_at)} ago
        = form_for map do |f|
          =f.submit
    .row
      .col-md-12.map
        %div{id: "#{id}"}
    .row
      .col-md-12
        %small
          %strong What's with the dupes?
          %br
          Identical strings are most likely due to inconsistencies in semi-colon usage or "!important" tags within the original css file.
          %br
          These are displayed as unique in order to show complexity accurately.
- else
  - @uri_alt = map.uri[4] == ':' ? map.uri.sub(':','s:') : map.uri.sub('s','')
  %strong No results for #{map.uri}
  %p
    Try it again with #{@uri_alt}

