- @uri = sanitize params[:url]
- @name = @uri[/[\w]+.[\w]+$/].capitalize
.container
  .row
    .col-md-12
      - if @treemap[:children].count > 0
        :plain
          <script>
            $(document).ready(function(){
              console.log(#{@treemap[:children].count})

              draw_treemap(#{@treemap.to_json},'#stuffit');
            });
          </script>
        %h2 Colormap for #{@name}
        %p
          #{@treemap[:children].size} unique color strings
        #stuffit

        %small
          %strong What's with the dupes?
          %br
          Identical strings are most likely due to inconsistencies in semi-colon usage or "!important" tags within the original css file.
          %br
          These are displayed as unique in order to show complexity accurately.
      - else
        - @uri_alt = @uri[4] == ':' ? @uri.sub(':','s:') : @uri.sub('s','')
        %strong No results for #{@uri}
        %p
          Try it again with #{@uri_alt}
