!!!
%html
  %head
    %title Color Palettes of the Web
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43211811-1', 'gerlandopiro.com');
      ga('send', 'pageview');

  %body
    %nav.navbar.navbar-default{role: 'navigation'}
      .container
        .navbar-header
          =link_to 'Color Palettes', '/', class: 'navbar-brand'
          = form_for new_map, html: {class: 'navbar-form navbar-left'} do |f|
            .form-group
              = f.text_field :uri, class: 'form-control', placeholder: 'http://www.github.com'
            = f.submit "Search", class: 'btn btn-default'
          %ul.nav.navbar-nav
            %li= link_to 'List All', lists_path

    - if flash[:notice]
      .container
        .row
          .col-md-12
            .alert
              = flash[:notice]
    = yield

    %nav.navbar.navbar-default.footer
      .container
        .row
          .col-md-3
            Made by
            =link_to 'Gerlando Piro', 'http://www.gerlandopiro.com'
            (#{link_to '@gpxl', 'http://www.twitter.com/gpxl'})
          .col-md-4
            %ul.nav.navbar-nav
              :plain
                <li><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=gpxl&amp;repo=colormaps&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe></li>
                <li><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=gpxl&amp;repo=colormaps&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe></li>
